
.icon-picture:before { content: '\e800'; } /* '' */
.icon-chart-bar:before { content: '\e801'; } /* '' */
.icon-cog-alt:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-download:before { content: '\e804'; } /* '' */
.icon-th-list:before { content: '\e805'; } /* '' */
.icon-video:before { content: '\e806'; } /* '' */
.icon-attach:before { content: '\e807'; } /* '' */
.icon-user:before { content: '\e808'; } /* '' */
.icon-users:before { content: '\e809'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-mic:before { content: '\f130'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-search:before { content: '\f50d'; } /* '' */
